main {
  position: relative;
    margin:auto;
}

header {
  position: relative;
  float: top;
}

article {
  position: relative;
  left: 0;
  top: 0;
  margin-left: 230px;
  margin-top: -10px;
}

ul.menulateral {
	position: relative;
  float: left;
  left: 0;
  top: 0;
  margin-top: 30px;
  margin-left: -30px;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
  left: 0px;
}

li.menulateral a {
  text-decoration: none;
  display: block;
  color: #FFF;
}

li.menulateral:hover {
  background-color: #F99B95;
}

li.menulateral {
  width: 160px;
  margin: 3px;
  list-style-type: none;
  background-color: #C2534B;
  padding: 5px 15px;
  color: #FFF;
}

li.submenulateral a {
  text-decoration: none;
  color: #9A9191;
  font-size: 90%;
  font-family: serif;
  font-weight: 90%;
  display: block;
  padding-left: 10px;
}

li.submenulateral:hover {
  background-color: #E3E3E3;
}

li.submenulateral {
  width: 173px;
  margin: 2px;
  margin-left: -34px;
  text-decoration: none;
  list-style-type: none;
  background-color: #FFF;
  padding: 4px;
  border: 1px solid #C1B7B7;
}



footer {
  position: absolute;
  float: bottom;
  bottom: 0;
  font-size: 0.75em;
  margin-left: 15px;
  margin-bottom: 5px;
  margin-top: 20px;
}

.saudacao {
  position: relative;
  right: 0;
  top: 0;
  font-size: 80%;
  margin: 10px;
}

