div#cima_tabela {
	    margin: 0 20px;
	    border:1px solid #EDEDDC;
	    background-color: #E9967A;
	    color: #FFFFFF;
	    font-size: 95%;
	    margin-bottom: -15px;
	    margin-top: 20px;
	}

	div#cima_tabela ul {
	    margin:0;padding:0; 
	}

	div#cima_tabela li {
	    list-style:none;
	    display:inline-block;
	}

	div#cima_tabela li:nth-child(1) {
	    width:110px; 
	    padding:2px 4px;
	}

	div#cima_tabela li:nth-child(2) {
	    width:180px;  
	    padding:2px 2px;
	}    

	div#cima_tabela li:nth-child(3) {
	    width:100px;  
	    padding:2px 2px;
	}